<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-desc"><small>© Brent Nequin. <a class="page-link" href="/privacy/">Privacy.</a></small></div>
    <div class="socialicon-container">
      <a class="socialicon" href="mailto:brentnequin@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a>
      <a class="socialicon" href="https://www.linkedin.com/in/brentnequin/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
      <a class="socialicon" href="https://codepen.io/bnequin"><i class="fab fa-codepen" aria-hidden="true"></i></a>
      <a class="socialicon" href="https://github.com/brentnequin"><i class="fab fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
