---
layout: default
---

{{content}}

<ul class="section-list">
  {% for section in site.data.projects %}
  <li class="section-block">
    <h3>{{ section.section-title }}</h3>
    {% for project in section.projects %}
      <li class="project-block">
        <i class="fab fa-{{ project.icon }}"></i>
        {% if project.url %}
        <a href="{{ project.url }}"><strong>{{ project.name }}</strong></a>
        {% else %}
          <strong>{{ project.name }}</strong>
        {% endif %}
        <span>{{ project.description }}</span>
      </li>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
